{% extends "RottenwoodUtopiaMudBundle:Default:index.html.twig" %}

{% block headjscripts %}
    <script type="text/javascript" src="{{ asset('assets/js/login.js') }}"></script>
{% endblock headjscripts %}

{% block mapdiv %}{% endblock mapdiv %}

{% block styles %}
    <link type="text/css" href="{{ asset('assets/css/css-reset.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ asset('assets/css/bootstrap-responsive.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
    <link type="text/css" href="{{ asset('assets/css/login.css') }}" rel="stylesheet"/>
{% endblock styles %}

{% trans_default_domain 'FOSUserBundle' %}

{% block gamedivname %}gamelogin{% endblock gamedivname %}

{% block game %}

    {% block fos_user_content %}

        <div id="form">
        <form id="loginform" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            <input type="hidden" id="remember_me" negistrationformloginame="_remember_me" value="on"/>

            <div class="container">
                <div class="row">
                    <div class="span8 offset2 text-justify">
                        <div class="registrationform">
                            <h1 class="sitetitle">Утопия</h1>

                            <p class="sitedescription">многопользовательское подземелье</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 offset3 text-justify">
                        <div class="registrationformlogin">
                            Имя или E-mail
                        </div>
                    </div>
                    <div id="registrationformlogin" class="span4 text-justify">
                        <div class="registrationform2">
                            <input type="text" id="username" name="_username" value="{{ last_username }}"
                                   required="required"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2 offset3 text-justify">
                        <div class="registrationformlogin">
                            Пароль
                        </div>
                    </div>
                    <div id="registrationformpassword" class="span4 text-justify">
                        <div class="registrationform2">
                            <input type="password" id="password" name="_password" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span8 offset2 text-justify errorbox">
                    {% if error %}
                        <div>{{ error|trans }}</div>
                    {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="span3 offset3 text-justify">
                        <div id="registrationformbutton" class="formbutton">
                            Регистрация
                        </div>
                    </div>
                    <div class="span3 text-justify">
                        <div id="loginformbutton" class="formbutton">
                            Вход
                        </div>
                    </div>
                </div>
            </div>
            {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
        </form>
        </div>

    {% endblock fos_user_content %}

{% endblock game %}

{% block chat %}{% endblock chat %}
